#GSSAPIDelegateCredentials yes
#KexAlgorithms +diffie-hellman-group1-sha1
#HostKeyAlgorithms +ssh-dss
Host firewall
  User root
  HostName 192.168.27.2
Host kdc.example.com
  User root
  ProxyCommand ssh -q firewall nc -q0 ?
Host *
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%r@%h-%p
  ControlPersist 28800

