//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

dynamic-db "bind9-dyndb" {
    Library "ldap.so";
    arg "uri ldapi:///";
    arg "base ou=dns,dc=example,dc=net";
    arg "auth_method sasl";
    arg "sasl_mech EXTERNAL";
};
