# Template used to create this container: /usr/share/lxc/templates/lxc-debian
# Parameters passed to the template:
# Template script checksum (SHA-1): 127e2020d76da79709d5e4e0c7e347f40a6a793b
# For additional config options, please look at lxc.container.conf(5)

# Uncomment the following line to support nesting containers:
#lxc.include = /usr/share/lxc/config/nesting.conf
# (Be aware this has security implications)

lxc.network.type = veth
lxc.network.veth.pair = router-a-uplink
lxc.network.flags = on

lxc.rootfs = /var/lib/lxc/router-a/rootfs
lxc.rootfs.backend = dir

# Common configuration
lxc.include = /usr/share/lxc/config/debian.common.conf

# Container specific configuration
lxc.tty = 4
lxc.utsname = router-a
lxc.arch = amd64
