# Template used to create this container: /usr/share/lxc/templates/lxc-debian
# Parameters passed to the template:
# Template script checksum (SHA-1): 127e2020d76da79709d5e4e0c7e347f40a6a793b
# For additional config options, please look at lxc.container.conf(5)

# Uncomment the following line to support nesting containers:
#lxc.include = /usr/share/lxc/config/nesting.conf
# (Be aware this has security implications)

# Towards Host
lxc.network.type = veth
lxc.network.name = eth0
lxc.network.veth.pair = router-b-0
lxc.network.flags = on

# Trunk link towards switch
lxc.network.type = veth
lxc.network.name = eth1
lxc.network.veth.pair = router-b-1
lxc.network.flags = on

# PTP link to router-a
lxc.network.type = veth
lxc.network.name = eth2
lxc.network.veth.pair = router-b-2
lxc.network.link = router-ptp
lxc.network.flags = on

lxc.rootfs = /var/lib/lxc/router-b/rootfs
lxc.rootfs.backend = dir

# Common configuration
lxc.include = /usr/share/lxc/config/debian.common.conf

# Container specific configuration
lxc.tty = 4
lxc.utsname = router-b
lxc.arch = amd64

# For tuntap control
lxc.mount.entry = /dev/net dev/net none bind,create=dir
lxc.cgroup.devices.allow = c 10:200 rwm
